@import '../../styles/main.scss';

.filledButton {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary;
    border: none;
    min-width: 10rem;
    height: 2.5rem;
    border-radius: .25rem;
    color: $background;
    transition: background-color .3s $springIn;
    cursor: pointer;

    .buttonFont {
        color: white;
        font-weight: bold;
        margin-bottom: 0;
        transition: color .3s $springIn;
    }
}

.filledButton:hover {
    background-color: $secondary;

    .buttonFont {
        font-weight: bold;
        color: $font-primary;
    }
}