html {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  border-bottom: solid .08rem;
  line-height: .9;
}

ul {
  list-style: disc outside;
  padding-left: 2em;
}

ol {
  list-style: decimal outside;
  padding-left: 2em;
  &.letters {
    list-style-type: upper-alpha;
  }
}

table {
  border-collapse: collapse;
  td,
  th {
    padding: 4px;
    text-align: center;
    border: 1px solid black;
    vertical-align: middle;
  }
}
