@import '../../styles/main.scss';


.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.5vw;
    width: 4.5vw;
    margin: .5vw;
    background-color: $gray-800;
    transition: background-color .3s $springIn;
    color: transparent;
    border: none;
    cursor: pointer;

    @include media-breakpoint-down(sm) {
        height: 10vw;
        width: 10vw;
        margin: 1.5vw;
    }
}

.cell:hover {
    background-color: $gray-200;
}

.active {
    background-color: $primary;
}

.active:hover {
    background-color: $secondary;
}